<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <h1>Encurtador de URLs</h1>
    <form method="POST" action="/shortUrls" class="my-4 form-inline"> 
        <label for="URLOriginal" class="sr-only">URL Original</label>
        <input type="url" placeholder="URL" name="fullUrl" class="form-control col mr-2">
        <button type="submit" class="btn btn-success">Encurtar</button>
    </form>
<table class="table table-striped table-responsive">
    <thead>
    <tr>
        <th>URL</th>
        <th>URL encurtada</th>
        <th>Clique</th>
    </tr>
    <tbody>
        <% shortUrls.forEach(shortUrl => { %>
            <tr>
            <td><a href="<%= shortUrl.full %>" target="_blank" rel="noopener noreferrer"><%= shortUrl.full %></a></td>
            <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
            <td><%= shortUrl.clicks %></td></tr>
        <% }) %>

    </tbody>
</thead>
</table>
</div>
</body>
</html>